<p>stuctural-directive</p>

<!--*ngIf directive-->

<p *ngIf="false">{{name}}</p> <!--simplest way-->

<!-- <p *ngIf="isVissible">{{name}}</p>  -->
 <!--with the use of property from ts file-->

<!--with the use of temlate reffrence varriable-->
<p *ngIf="isVissible; else nameElseBlock" >{{name}}</p> 
<ng-template #nameElseBlock>
    <p>{{annonymous}}</p>
</ng-template>

<!--then block-->
<div *ngIf="isVissible; then nameThenBlock else nameElseBlock"></div>
<ng-template #nameThenBlock>
    <p>{{name}}</p>
</ng-template>
<ng-template #nameElseBlock>
    <p>{{annonymous}}</p>
</ng-template>

<!--[ngSwitch] directive-->

<div [ngSwitch]="color">
<p *ngSwitchCase="'red'">{{color}}</p>
<p *ngSwitchCase="'orange'">{{color}}</p>
<p *ngSwitchDefault>pick a color</p>
</div>

<!--*ngFor directive-->
<ul *ngFor="let user of users">
    <li>{{user}}</li>
</ul>

<!-- <ul *ngFor="let user of users;let i = index;"> -->
<ul *ngFor="let user of users;index as i;odd as o;even as e">   
    <li >{{i}} 
        <!-- {{o}} {{e}}  -->
        <ul>
          <li *ngIf="o; else evenBlock"> <span [style.color]="'orange'"> {{user}} </span></li>
          <ng-template #evenBlock>
            <li><span [style.color]="'blue'"> {{user}}</span></li>
          </ng-template>
        </ul>
        
    </li>
</ul>